In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('Cleaned_photo_data.xlsx')
keywords_data = []
value_col = 'Unnamed: 0'

columns = list(df.columns)
phid_list = []
date_list = []
title_list = []
keywords_list = []
keywords_data = []

title_index_list = df.index[df[value_col] == 'View'].tolist()
for value in title_index_list:
    title_list.append(df[value_col][value+1])

phid_index_list = df.index[df[value_col] == 'Photo ID #'].tolist()


for value in phid_index_list:
    phid_list.append(df[value_col][value+1])
    date_list.append(df[value_col][value+2])

keywords_index_list = df.index[df[value_col] == 'Contains'].tolist()

idx_start = list(df.index[df[value_col] == 'Contains'])
idx_end = list(df.index[df[value_col] == 'View'])
df[value_col] = df[value_col].fillna('NaN')

value = 0

for value in range(0,len(idx_start)):
    s_value = idx_start[value] +1
    if s_value <= idx_start[-1]:
        e_value = idx_end[value+1]
        temp = list(df[value_col][s_value:e_value])
    else:
        s_value = idx_start[len(idx_start)-1] +1
        temp = list(df[value_col][s_value:])
    
    if 'NaN' in temp:
        indexes = [i for i, s in enumerate(temp) if 'NaN' in s][0]
        temp = temp[:indexes]

    if 'Run Search' in temp:
        temp.remove("Run Search")

    if 'Sort Results' in temp:
        temp.remove("Sort Results")

    keywords_data.append(",".join(temp))


df_rs = pd.DataFrame.from_dict({'Photo ID #':phid_list, 'Date': date_list,'Title':title_list,'Keywords': keywords_data},orient='index')
df_rs = df_rs.transpose()

In [4]:
df = pd.read_excel('Cleaned_photo_data.xlsx')
keywords_data = []
value_col = 'Unnamed: 1'

columns = list(df.columns)
phid_list = []
date_list = []
title_list = []
keywords_list = []
keywords_data = []

title_index_list = df.index[df[value_col] == 'View'].tolist()
for value in title_index_list:
    title_list.append(df[value_col][value+1])

phid_index_list = df.index[df[value_col] == 'Photo ID #'].tolist()


for value in phid_index_list:
    phid_list.append(df[value_col][value+1])
    date_list.append(df[value_col][value+2])

keywords_index_list = df.index[df[value_col] == 'Contains'].tolist()

idx_start = list(df.index[df[value_col] == 'Contains'])
idx_end = list(df.index[df[value_col] == 'View'])
df[value_col] = df[value_col].fillna('NaN')

value = 0

for value in range(0,len(idx_start)):
    s_value = idx_start[value] +1
    if s_value <= idx_start[-1]:
        e_value = idx_end[value+1]
        temp = list(df[value_col][s_value:e_value])

    else:
        s_value = idx_start[len(idx_start)-1] +1
        temp = list(df[value_col][s_value:])
        
    if 'NaN' in temp:
        indexes = [i for i, s in enumerate(temp) if 'NaN' in s][0]
        temp = temp[:indexes]

    if 'Run Search' in temp:
        temp.remove("Run Search")

    if 'Sort Results' in temp:
        temp.remove("Sort Results")


    keywords_data.append(",".join(temp))


df_rs_1 = pd.DataFrame.from_dict({'Photo ID #':phid_list, 'Date': date_list,'Title':title_list,'Keywords': keywords_data},orient='index')
df_rs_1 = df_rs_1.transpose()

In [5]:
df = pd.read_excel('Cleaned_photo_data.xlsx')
keywords_data = []
value_col = 'Unnamed: 2'

columns = list(df.columns)
phid_list = []
date_list = []
title_list = []
keywords_list = []
keywords_data = []

title_index_list = df.index[df[value_col] == 'View'].tolist()
for value in title_index_list:
    title_list.append(df[value_col][value+1])

phid_index_list = df.index[df[value_col] == 'Photo ID #'].tolist()


for value in phid_index_list:
    phid_list.append(df[value_col][value+1])
    date_list.append(df[value_col][value+2])

keywords_index_list = df.index[df[value_col] == 'Contains'].tolist()

idx_start = list(df.index[df[value_col] == 'Contains'])
idx_end = list(df.index[df[value_col] == 'View'])
df[value_col] = df[value_col].fillna('NaN')

value = 0

for value in range(0,len(idx_start)):
    s_value = idx_start[value] +1
    if s_value <= idx_start[-1]:
        e_value = idx_end[value+1]
        temp = list(df[value_col][s_value:e_value])
    else:
        s_value = idx_start[len(idx_start)-1] +1
        temp = list(df[value_col][s_value:])
        
    if 'NaN' in temp:
        indexes = [i for i, s in enumerate(temp) if 'NaN' in s][0]
        temp = temp[:indexes]

    if 'Run Search' in temp:
        temp.remove("Run Search")

    if 'Sort Results' in temp:
        temp.remove("Sort Results")

    keywords_data.append(",".join(temp))


df_rs_2 = pd.DataFrame.from_dict({'Photo ID #':phid_list, 'Date': date_list,'Title':title_list,'Keywords': keywords_data},orient='index')
df_rs_2 = df_rs_2.transpose()

In [6]:
df = pd.read_excel('Cleaned_photo_data.xlsx')
keywords_data = []
value_col = 'Unnamed: 3'

columns = list(df.columns)
phid_list = []
date_list = []
title_list = []
keywords_list = []
keywords_data = []

title_index_list = df.index[df[value_col] == 'View'].tolist()
for value in title_index_list:
    title_list.append(df[value_col][value+1])

phid_index_list = df.index[df[value_col] == 'Photo ID #'].tolist()


for value in phid_index_list:
    phid_list.append(df[value_col][value+1])
    date_list.append(df[value_col][value+2])

keywords_index_list = df.index[df[value_col] == 'Contains'].tolist()

idx_start = list(df.index[df[value_col] == 'Contains'])
idx_end = list(df.index[df[value_col] == 'View'])
df[value_col] = df[value_col].fillna('NaN')

value = 0

for value in range(0,len(idx_start)):
    s_value = idx_start[value] +1
    if s_value <= idx_start[-1]:
        e_value = idx_end[value+1]
        temp = list(df[value_col][s_value:e_value])
    else:
        s_value = idx_start[len(idx_start)-1] +1
        temp = list(df[value_col][s_value:])
    

    if 'NaN' in temp:
        indexes = [i for i, s in enumerate(temp) if 'NaN' in s][0]
        temp = temp[:indexes]

    if 'Run Search' in temp:
        temp.remove("Run Search")

    if 'Sort Results' in temp:
        temp.remove("Sort Results")


    keywords_data.append(",".join(temp))


df_rs_3 = pd.DataFrame.from_dict({'Photo ID #':phid_list, 'Date': date_list,'Title':title_list,'Keywords': keywords_data},orient='index')
df_rs_3 = df_rs_3.transpose()

In [7]:
frames = [df_rs, df_rs_1, df_rs_2, df_rs_3]

result = pd.concat(frames)

result.reset_index(inplace = True)
result = result.drop('index',axis=1)
result.index = result.index + 1
result['Date'] = pd.to_datetime(result['Date'])
result['Date'] = result['Date'].dt.strftime('%Y-%m-%d')

In [8]:
len(df_rs), len(df_rs_1), len(df_rs_2),len(df_rs_3)

(717, 191, 155, 70)

In [9]:
result.index[result['Photo ID #'] == 80839]

Int64Index([1122], dtype='int64')

In [10]:
result[1120:1123]

,Photo ID #,Date,Title,Keywords
1121,80838,2021-07-30,Wilayat Khorosan Pictures: Capturing and Killi...,"Execution,Shooting,Hostage Photo"
1122,80839,2021-07-30,Wilayat Khorosan Pictures: Capturing and Killi...,"Execution,Aftermath"
1123,84428,2021-08-26,"Photo of the Martyr ""Abdul Rahman al-Logari"" O...",Aftermath

In [11]:
result

,Photo ID #,Date,Title,Keywords
1,7965,2015-09-21,Slaughtering an Apostate Afghan Spy,"Execution,Beheading"
2,8548,2015-10-20,Graduation of First Batch of IS Fighters from ...,Media Footage
3,8549,2015-10-20,Graduation of First Batch of IS Fighters from ...,"Training,Training Camp"
4,8550,2015-10-20,Graduation of First Batch of IS Fighters from ...,"Training,Training Camp"
5,8551,2015-10-20,Graduation of First Batch of IS Fighters from ...,"Training,Training Camp"
...,...,...,...,...
1129,92016,2021-10-14,Al-Naba Infographic Edition 308: The Hazara Di...,"Infographic,Threat"
1130,92117,2021-10-15,Anas Al-Khorasani and Abu Ali al-Baluchi the E...,"Aftermath,IED,Grenade"
1131,95616,2021-11-02,"A Photo From In Front of the ""Sardar Mohammad ...",
1132,95956,2021-11-04,Al-Naba Infographic Edition 311 Harvest of Wil...,Infographic
1133,?,2021-12-05,Khorosan Province Photo: Targeting a Vehicle f...,Execution

In [15]:
df_rs_remove_duplicate = result[~result.duplicated(subset=['Photo ID #','Date', 'Title'], keep="first")]

In [16]:
len(df_rs_remove_duplicate)

947

In [17]:
duplicate = df_rs_remove_duplicate[df_rs_remove_duplicate.duplicated(subset =['Photo ID #'])]

In [18]:
len(duplicate)

0

In [22]:
result.index[result['Photo ID #'] == 42098]

Int64Index([930], dtype='int64')

In [23]:
result.loc[930:933,:]

,Photo ID #,Date,Title,Keywords
930,42098,2018-12-19,Spoils From Allah on the Caliphate Soldiers Af...,"Captured Weapons,Grenade"
931,42861,2019-01-28,Caravan of the Martyrs: The Brother Haydar al-...,Aftermath
932,42862,2019-01-28,Caravan of the Martyrs: The Brother Abdullah N...,Aftermath
933,43091,2019-02-05,Caravan of the Martyrs: The Brother Qahqa al-K...,Aftermath

In [24]:
result.to_csv('photo_info20220301.csv')